<body>
<div class="nigg">
<h1>Chessboard</h1>
<button (click)="[changeTheme()]" class="btn btn-primary">{{themeType}}</button>
</div>
<div class="bdy">
<table [class.white]="wtf" [class.black]="!wtf" class="chessboard">
  <tr *ngFor="let prvek of positions; let i = index;">
    <div class="td">
      <td [class.white]="(l + i) % 2 == 0 && wtf" [class.black]="(l+ i) % 2 != 0 && !wtf" *ngFor="let prvek of positions[i]; let l = index"><h2>{{prvek}}</h2></td>
    </div>
  </tr>
</table>
</div>
<!--<h1>KAF, Kill An Infant</h1>
<div id="kid">
  <img class="infant" src="https://th.bing.com/th/id/OIP.KRTHlC52ARcCffUxLKasLQHaEH?pidx=ImgDet&rs=1" alt="Infant">
</div>
<button (click)="changeText()" class="nigger btn btn-primary">Click to kill an infant</button>
{{text}}
{{infants}}

<h2>Number of infants per hospital.</h2>
<ul>
  <li *ngFor="let prvek of array">{{prvek}}</li>
</ul>

<table>
  <tr *ngFor="let prvek of positions; let i = index;">
    <td *ngFor="let prvek of positions[i]; let i = index">{{prvek}}</td>
  </tr>
</table>

<table>
  <tr *ngFor="let prvek of realpositions; let i = index;">
    <td [class.wdm]="prvek == 0" [class.bdm]="prvek == 1" [class.cdm]="prvek == 2" *ngFor="let prvek of realpositions[i]; let i = index"></td>
  </tr>
</table>
<button (click)="move([0, +1])" class="nigger btn btn-primary">Right</button>
<button (click)="move([0, -1])" class="nigger btn btn-primary">Left</button>
<button (click)="move([-1, 0])" class="nigger btn btn-primary">Up</button>
<button (click)="move([+1, 0])" class="nigger btn btn-primary">Down</button>-->
</body>

